<section class="container with-title">
	<h2 class="title">Blogs</h2>

	<div>
		<p>Click on one of your avatars to start the download.</p>

		<%= for (i, blog) in blogs { %>
			<div class="message">
				<%= if (even(i)) { %>
					<img src="https://api.tumblr.com/v2/blog/<%= blog.Name %>/avatar/64" alt="<%= blog.Name %> Avatar" class="avatar">
					<div class="balloon from-left">
						<p><%= blog.Title %></p>
						<p><a href="/blogs/<%= blog.Name %>" class="btn is-primary">Open</a></p>
					</div>
				<% } else { %>
					<div class="balloon from-right">
						<p><%= blog.Title %></p>
						<p><a href="/blogs/<%= blog.Name %>" class="btn is-primary">Open</a></p>
					</div>
					<img src="https://api.tumblr.com/v2/blog/<%= blog.Name %>/avatar/64" alt="<%= blog.Name %> Avatar" class="avatar">
				<% } %>
			</div>
		<% } %>
	</div>
</section>
