// @import '~bootstrap/scss/bootstrap.scss';
// @import '~font-awesome/css/font-awesome.css';
@import '~nes.css/scss/nes.scss';

body {
	padding: 0 2rem;
	margin: 2rem auto;
	max-width: 768px;
}

.container:not(:last-child) {
	margin-bottom: 1rem;
}

.message {
	display: flex;

	.avatar {
		align-self: flex-end;
	}

	.balloon {
		margin: 2rem;

		&.from-right {
			margin-left: auto;
		}
	}
}
