@import '~nes.css/scss/nes.scss';
@import '~typeface-press-start-2p/index.css';

body {
	padding: 0 2rem;
	margin: 2rem auto;
	max-width: 768px;
	font-family: Press Start 2p, monospace;
}

.container:not(:last-child) {
	margin-bottom: 1rem;
}

.message {
	display: flex;

	.avatar {
		align-self: flex-end;
	}

	.nes-balloon {
		margin: 2rem;

		&.from-right {
			margin-left: auto;
		}
	}
}
