<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Tumblr Backup</title>
		<%= stylesheetTag("application.css") %>
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= authenticity_token %>" />
	</head>
	<body>
		<header>
			<h1>Tumblr Backup<i class="nes-icon heart is-medium"></i></h1>
			<p>Download all your posts on Tumblr.</p>
		</header>

		<%= partial("flash.html") %>

		<%= yield %>

		<section class="nes-container is-rounded">
			<div>
				<%= if (!user) { %>
					Please <a href="/auth/tumblr/login" class="nes-btn is-primary">login</a> with your Tumblr account.
				<% } else { %>
					Go to your <a href="/blogs" class="nes-btn">blogs</a>
					or <a href="/auth/logout" class="nes-btn is-error">logout</a>.
				<% } %>
			</div>
		</section>
	</body>
</html>
