<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title><%= capitalize(post.PostType) %> Post</title>
		<style type="text/css">
			<%= partial("export/style.css") %>
		</style>
	</head>
	<body>
		<div class="post">
			<%= yield %>

			<%= if (len(post.Tags) > 0) { %>
				<div class="tags">
					<ul>
						<%= for (tag) in post.Tags { %>
							<li><%= tag %></li>
						<% } %>
					</ul>
				</div>
			<% } %>

			<div class="meta">
				<ul>
					<li><strong><%= post.NoteCount %> Notes</strong></li>
					<li><a href="<%= post.PostURL %>" target="_blank"><%= post.Date %></a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
